#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    macros {
        name_cas: name_cas {
            compatible = "zmk,behavior-macro";
            label = "name_cas";
            #binding-cells = <0>;
            bindings = <&kp LS(C) &kp A &kp R &kp O &kp L &kp I &kp N &kp E &kp SPACE &kp LS(A) &kp DOT &kp SPACE &kp LS(S) &kp R &kp S &kp T &kp K &kp A>;
            wait-ms = <40>;
            tap-ms = <10>;
        };
        title_aag: title_aag {
            compatible = "zmk,behavior-macro";
            label = "title_aag";
            #binding-cells = <0>;
            bindings = <&kp RET &kp LS(A) &kp S &kp S &kp I &kp S &kp T &kp A &kp N &kp T &kp SPACE &kp LS(A) &kp T &kp T &kp O &kp R &kp N &kp E &kp Y &kp SPACE &kp LS(G) &kp E &kp N &kp E &kp R &kp A &kp L>;
            wait-ms = <40>;
            tap-ms = <10>;
        };
        address_aag: address_aag {
            compatible = "zmk,behavior-macro";
            label = "address_aag";
            #binding-cells = <0>;
            bindings = <&kp RET &kp N2 &kp N0 &kp N0 &kp N0 &kp SPACE &kp LS(E) &kp DOT &kp SPACE &kp N5 &kp 2 &kp N &kp D &kp SPACE &kp LS(S) &kp T &kp R &kp E &kp E &kp T &kp COMMA &kp SPACE &kp LS(N) &kp O &kp R &kp T &kp H &kp RET &kp LS(S) &kp I &kp O &kp U &kp X &kp SPACE &kp LS(F) &kp A &kp L &kp L &kp S &kp COMMA &kp SPACE &kp LS(S) &kp LS(D) &kp SPACE &kp N5 &kp N7 &kp N1 &kp N0 &kp N4>;
            wait-ms = <40>;
            tap-ms = <10>;
        };
        phone_aag: phone_aag {
            compatible = "zmk,behavior-macro";
            label = "phone_aag";
            #binding-cells = <0>;
            bindings = <&kp RET &kp LS(T) &kp E &kp L &kp E &kp P &kp H &kp O &kp N &kp E &kp LS(SEMI) &kp SPACE &kp LS(N9) &kp N6 &kp N0 &kp N5 &kp LS(N0) &kp SPACE &kp N3 &kp N6 &kp N7 &kp MINUS &kp N5 &kp N8 &kp N8 &kp N0>;
            wait-ms = <40>;
            tap-ms = <10>;
        };
        email_aag: email_aag {
            compatible = "zmk,behavior-macro";
            label = "email_aag";
            #binding-cells = <0>;
            bindings = <&kp RET &kp LS(C) &kp A &kp R &kp O &kp L &kp I &kp N &kp E &kp DOT &kp LS(S) &kp R &kp S &kp T &kp K &kp A &kp LS(N2) &kp S &kp T &kp A &kp T &kp E &kp DOT &kp S &kp D &kp DOT &kp U &kp S>;
            wait-ms = <40>;
            tap-ms = <1>;
        };
        signature_cas: signature_cas {
            compatible = "zmk,behavior-macro";
            label = "signature_cas";
            #binding-cells = <0>;
            bindings = <&name_cas &title_aag>;
            wait-ms = <40>;
            tap-ms = <1>;
        };
        office_addr: office_addr {
            compatible = "zmk,behavior-macro";
            label = "office_addr";
            #binding-cells = <0>;
            bindings = <&address_aag &phone_aag &email_aag>;
            wait-ms = <40>;
            tap-ms = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | ESC | F1  | F2  | F3  | F4  | F5  | F6  | F7  | F9  | F9  | F10 | F11 | F12 | PSCRN | INS | DEL	|
            // |  `  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   BKSP   | HOME	|
            // | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |    \    | PG UP |
            // | CAPS  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER     | PG DN |
            // |  SHIFT    |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  | /   |    SHIFT |  UP  |  END  |
            // |  CTL  |  WIN  |  ALT  |            SPACE               | ALT | 1  | CTRL |  LEFT | DOWN | RIGHT |
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
   &kp ESC  &kp C_BRI_DN  &kp C_BRI_UP  &kp LA(NUMBER_7)  &kp LA(NUMBER_6)  &signature_cas  &kp F6     &kp F7     &kp F8    &kp F9    &kp F10    &kp F11  &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &kp K_PWR
 &kp GRAVE        &kp N1        &kp N2            &kp N3            &kp N4          &kp N5  &kp N6     &kp N7     &kp N8    &kp N9     &kp N0  &kp MINUS   &kp EQUAL           &kp BKSP      &kp HOME
   &kp TAB         &kp Q         &kp W             &kp E             &kp R           &kp T   &kp Y      &kp U      &kp I     &kp O      &kp P   &kp LBKT    &kp RBKT           &kp BSLH     &kp PG_UP
  &kp CLCK         &kp A         &kp S             &kp D             &kp F           &kp G   &kp H      &kp J      &kp K     &kp L   &kp SEMI    &kp SQT     &kp RET          &kp PG_DN
 &kp LSHFT         &kp Z         &kp X             &kp C             &kp V           &kp B   &kp N      &kp M  &kp COMMA   &kp DOT   &kp FSLH  &kp RSHFT      &kp UP            &kp END
               &kp LCTRL      &kp LALT          &kp LCMD         &kp SPACE        &kp RCMD   &mo 1  &kp RCTRL   &kp LEFT  &kp DOWN  &kp RIGHT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise {
            bindings = <
     &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans   &trans   &trans      &trans      &trans           &trans           &trans           &trans  &trans
 &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &kp F6  &kp F7   &kp F8   &kp F9     &kp F10     &kp F11          &kp F12       &bl BL_TOG  &rgb_ug RGB_TOG
     &trans        &trans        &kp UP        &trans        &trans        &trans  &trans  &trans  &kp INS   &trans   &kp PSCRN    &kp SLCK  &kp PAUSE_BREAK           &reset  &rgb_ug RGB_HUI
     &trans      &kp LEFT      &kp DOWN     &kp RIGHT        &trans        &trans  &trans  &trans   &trans   &trans    &kp HOME   &kp PG_UP      &bootloader  &rgb_ug RGB_HUD
 &kp C_PREV  &kp C_VOL_DN  &kp C_VOL_UP    &kp C_MUTE        &trans        &trans  &trans  &trans   &trans  &kp END   &kp PG_DN  &kp C_NEXT           &trans       &bl BL_INC
               &bt BT_PRV    &bt BT_NXT        &trans        &trans        &trans  &trans  &trans   &trans   &trans  &bl BL_DEC
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
